html {
    margin-top: 70px;
}

.old-publication {
    border: 1px solid;
    border-radius: 4px;
    border-color: #c3bfc3;
}

.doc-link {
    padding: 3px !important;
}

.load_progress {
    text-align: center;
}

.hidden {
    display: none;
}