{% load reports %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ publication.title }}</title>
    <style>
        body {
            margin: 0;
            font-family: "Roboto", sans-serif;
        }
        .doc-name {
            text-align: center;
            font-size: 18px;
        }
        table, th, td {
            border: 1px solid black;
        }
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th {
            text-align: center;
        }
    </style>
</head>
<body>
    <p class="doc-name">Журнал ознакомления летного состава</p>
    <p>Перечень документов:</p>
    <ul>
        {% for doc in publication.attachments.all %}
            <li>{{ doc.title }}</li>
        {% endfor %}
    </ul>

    <table>
        <tr>
            <th>Номер <br> пп</th>
            <th>ФИО</th>
            <th>Дата <br> ознакомления</th>
            {% if signature %}<th>Подпись</th>{% endif %}
        </tr>
        {% for user in user_list %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ user.get_full_name }}</td>
                <td>{% doc_see_on user publication as see_on %}{{ see_on|date:'d M Y' }}</td>
                {% if signature %}<td></td>{% endif %}
            </tr>
        {% endfor %}
    </table>
</body>
</html>
