{% load publications %}
{% for publication in publication_list %}
    {% is_signed_publications user=user publication=publication as is_signed %}
    <div class="alert publication {% if is_signed %}old-publication{% else %}alert-info{% endif %}"
         role="alert" data_url_signature="{% url 'signature' publication=publication.id %}" data_document_name="{{ publication.title }}" id="publication-{{ publication.id }}">
      <h3>{{ publication.title }}</h3>
      {{ publication.description|safe }}
        <div class="text-right">
          <p>{{ publication.pub_date|date:"Y-m-d" }}</p>
        </div>
        <ul class="nav nav-pills nav-stacked">
          {% for attachment in publication.attachments.all %}
            <li role="presentation"><a href="{{ attachment.get_absolute_url }}" class="doc-link">{{ attachment.title }}</a></li>
          {% endfor %}
        </ul>
        {% if not is_signed %}
            <div class="text-right">
                <a class="btn btn-primary signature-button" href="#" role="button"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a>
            </div>
        {% endif %}
    </div>
{% empty %}
    <div class="alert alert-success" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        Документы не найдены
    </div>
{% endfor %}

