{% extends "base.html" %}
{% load static %}


{% block head_extra %}
  <script src="{% static 'js/custom.js' %}"></script>
{% endblock %}


{% block main_content %}

    <div class="publication_holder" data_next_url="{{ next_url }}" data_load_date="{{ load_date }}"></div>
    <div class="load_progress"><img src="{% static 'img/loading.gif' %}"></div>

    <div class="modal fade" tabindex="-1" role="dialog" id="signature_modal">
         <div class="modal-dialog" role="document">
           <div class="modal-content">
             <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Подтверждение</h4>
             </div>
             <div class="modal-body">
                <p>Я, {{ request.user.get_full_name }}, подтверждаю что был ознакомлен с документом <span class="document-name"></span></p>
             </div>
             <div class="modal-footer">
               <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
               <button type="button" class="btn btn-primary signature_button">Подписать</button>
             </div>
           </div><!-- /.modal-content -->
         </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

{% endblock %}
