{% load static %}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Avia documents</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/custom.css' %}" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    {% block head_extra %}{% endblock %}
  </head>
  <body>

    <!-- Top navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Раскрыть</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'new_pubs' %}">Avia documents</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="{% block menu_new %}{% endblock %}"><a href="{% url 'new_pubs' %}">Новое</a></li>
            <li class="{% block menu_all %}{% endblock %}"><a href="{% url 'all_pubs' %}">Все документы</a></li>
          </ul>
          <div class="navbar-right">
            <p class="navbar-text">{{ request.user.get_full_name }}</p>
            <ul class="nav navbar-nav">
              <li><a href="{% url 'logout' %}">Выход</a></li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    <!-- End top navbar -->

    <div class="container">{% block main_content %}{% endblock %}</div>
  </body>
</html>