{% load static %}

<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Вход</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/signin.css' %}" rel="stylesheet">
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/accounts/login_page.js' %}"></script>
  </head>

  <body>
    <div class="container">
      <form class="form-signin" id="signin_form" method="post" action="{% url 'api_signin' %}">
        {% csrf_token %}
        <h2 class="form-signin-heading">Авторизация</h2>

        <label for="{{ form.login.id_for_label }}" class="sr-only">Имя пользователя</label>
        <input id="{{ form.login.id_for_label }}" name="{{ form.login.name }}" class="form-control" placeholder="Имя пользователя" required autofocus>

        <label for="{{ form.password.id_for_label }}" class="sr-only">Пароль</label>
        <input type="password" id="{{ form.password.id_for_label }}" name="{{ form.password.name }}" class="form-control" placeholder="Пароль" required>

        <div class="error-holder"></div>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Войти</button>
      </form>
    </div> <!-- /container -->
  </body>
</html>
